// Strip default margin/padding/font-weight 
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
button {
	margin: 0;
	padding: 0;
	font-weight: normal;
}

// Strip ul default styling 
ul {
	list-style: none;
}

// Strip anchor tag default styling 
a {
	text-decoration: none;
	color: inherit;
}

// Strip button default styling (and add pointer cursor) 
button {
	border: none;
	background: none;
	cursor: pointer;
}

// ensure images fit inside container 
img {
	width: 100%;
	max-width: 100%;
	height: auto;
	object-fit: cover;
	display: block;
}

// strip default address styling 
address {
	font-style: normal;
}

// set root font size to 10px for simple rem conversion 
html {
	font-size: 62.5%;
}

body {
	font-size: 1.6rem;
}