body {
	font-family: 'Bebas Neue', sans-serif;
}

h1 {
	text-align: center;
	// font-weight: bold;
	letter-spacing: 0.3em;
	font-size: 5rem;
	text-decoration: underline;
}

h2 {
	font-size: 2.4rem;
	letter-spacing: 0.2em;
}

button {
	font-family: 'Bebas Neue', sans-serif;
	letter-spacing: 0.3em;
	font-size: 2rem;
}

label {
	font-size: 2rem;
	letter-spacing: 0.05em;
}

select {
	font-size: 1.8rem;
	font-family: 'Bebas Neue', sans-serif;
	letter-spacing: 0.05em;
}

p {
	font-size: 1.8rem;
	letter-spacing: 0.05em;

	.signature & {
		font-size: 1.6rem;
	}
}