body {
	font-family: 'Bebas Neue', sans-serif;
}

h1 {
	text-align: center;
	// font-weight: bold;
	letter-spacing: 0.3em;
	font-size: 5rem;
	text-decoration: underline;
}

button {
	font-family: 'Bebas Neue', sans-serif;
	letter-spacing: 0.3em;
	font-size: 2rem;
}

label {
	font-size: 2rem;
	letter-spacing: 0.05em;
}

select {
	font-family: 'Bebas Neue', sans-serif;
	letter-spacing: 0.05em;
}