// colours
	// background
	$primaryBackground: #000000;

	// font
	$primaryFont: #FFFFFF;

	// accent
	$primaryAccent: #FFFFFF;

// game sizes
	$cols: 12;
	$rows: 8;

	$boardWidth: 600px;
	$boardHeight: 400px;

	$pieceWidth: 50px;
	$pieceHeight: 50px;

// game border
	$gameBorder: 5px;